.overView {
    display: flex;
    flex-direction: row; /* Change to row to align children horizontally */
    height: 100vh; /* Ensure the overview takes up the full viewport height */
}

.left-container {
  background-color: #f8f9fa; /* Light background color */
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Ensure it takes full height of the parent */
  width: 33%; /* Adjust width as needed */
  overflow-y: auto; /* Allow scrolling if content overflows */
}

.right-container {
  background-color: #6c757d; /* Secondary background color */
  color: white;
  padding: 1rem;
  overflow-y: auto;
  height: 100%; /* Ensure it takes full height of the parent */
  width: 67%; /* Adjust width as needed */
  scroll-snap-type: y mandatory; /* Enable scroll snapping */
}

.custom-font-size {
    font-size: 14px; /* Adjust font size for extra small devices */
    padding: 0px 5px 0px 5px;
    text-decoration: underline; /* Add underline */
    color: gray; /* Change text color to gray */
} 

.right-container::-webkit-scrollbar {
  display: none;
}

.section {
  background-color: #343a40; /* Dark background color */
  color: white;
  margin-bottom: 1rem;
  height: 100vh; /* Adjust height to 85vh */
  padding: 1rem;
  scroll-snap-align: start; /* Snap to the start of each section */
  position: relative; /* Required for the pseudo-element */
  display: flex; /* Use Flexbox */
  flex-direction: column; /* Align items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  overflow: hidden; /* Hide overflow to ensure the blur effect stays within the section */
  z-index: 1;
}

.section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 255, 255);
  z-index: -1;
}

.section-bg-1::before {
  background-image: url('../images/AiPicture1.png');
  filter: blur(3px);
}

.section-bg-2::before {
  background-image: url('../images/AiPicture2.png');
  filter: blur(3px);
}

.section-bg-3::before {
  background-image: url('../images/AiPicture3.png');
  filter: blur(3px);
}

.section-bg-4::before {
  background-image: url('../images/AiPicture4.png');
  filter: blur(3px);
}

.section-bg-5::before {
  background-image: url('../images/AiPicture5.png');
  filter: blur(20px);
}

.btnContainer {
  display: flex;
  flex-direction: column;
  padding-top: 425px;
}

.headShot {
  width: 400px !important;
  height: 400px !important;
  border-radius: 50%;
  padding-bottom: 20px;
  object-fit: cover; /* Maintain aspect ratio */
}

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  border: 2px solid #000; /* Optional border */
  margin: auto; /* Center the box */
  margin-top: 65px;
  color: black;
  padding: 10px; /* Add some padding */
}

.flex-box .left-side {
  flex: 1;
  text-align: left;
  padding-right: 10px; /* Add some space between left and right sides */
  padding-left: 40px;
}

.flex-box .right-side {
  flex: 2;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.section-header {
  position: absolute;
  top: 10px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  color: black;
  text-align: center;
  font-size: 40px; /* Adjust the font size as needed */
}

.contentHeader {
  font-size: 40px;
  padding-right: 10px;
}

.cardText {
  font-size: 20px;
}

#section5 {
  display: flex; /* Use Flexbox for alignment */
  flex-direction: column; /* Align items vertically */
  justify-content: flex-start; /* Align items to the top */
  align-items: center; /* Center items horizontally */
  height: 100vh; /* Adjust height to 85vh */
  background-color: #f0f0f0; /* Example background color */
  color: #333; /* Example text color */
  padding: 20px; /* Example padding */
  text-align: center; /* Center text */
  font-size: 2rem; /* Example font size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Example box shadow */
  position: relative; /* Ensure absolute positioning of svg-container works */
}

#section5 h1 {
  font-size: 3rem; /* Example heading font size */
  margin-bottom: 20px; /* Space below heading */
  align-self: flex-start; /* Align the h1 to the start of the container */
  width: 100%; /* Ensure it takes full width */
  text-align: center; /* Center the text */
}

#section5 .content {
  display: flex; /* Use Flexbox for alignment */
  flex-direction: column; /* Align items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  flex: 1; /* Take up remaining space */
}

#section5 .content p {
  font-size: 1.5rem; /* Example paragraph font size */
  max-width: 800px; /* Limit paragraph width */
  line-height: 1.6; /* Improve readability */
  margin: 10px 0; /* Add padding between paragraphs */
  color: black;
}

#section5 .svg-container {
  display: flex; /* Use Flexbox for horizontal alignment */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  width: 100%; /* Full width */
  padding: 20px; /* Padding around the container */
  position: absolute; /* Position at the bottom */
  bottom: 0; /* Align to the bottom */
}

#section5 .svg-container a {
  margin: 0 30px; /* Space between SVGs */
}

#section5 .svg-container a svg,
#section5 .svg-container a img {
  width: 100px; /* Example width for SVGs */
  height: 100px; /* Example height for SVGs */
  fill: #333; /* Example fill color for SVGs */
  transition: fill 0.3s; /* Smooth transition for hover effect */
}

#section5 .svg-container a svg:hover,
#section5 .svg-container a img:hover {
  fill: #007bff; /* Change fill color on hover */
}

.checkitOut {
  font-size: 20px;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow */
}

.homeText {
    text-align: center;
    font-size: 80px;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow */
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {

    .right-container::-webkit-scrollbar {
        display: none;
    }

    .homeText {
        text-align: center;
        font-size: 28px;
        color: black;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow */
    }
  
    .section {
        display: flex;
        flex-direction: column;
        height: 82dvh; /* Ensure the section takes up 85vh equivalent in rem */
        width: 100dvw ;
    }

    .overView {
        display: flex;
        flex-direction: row;
        height: 82dvh; /* Ensure the overview takes up the full viewport height equivalent in rem */
        position: relative;
    }

    .left-container {
        height: 18dvh;
        position: fixed; /* Fix the left-container in place */
        top: 0;
        left: 0;
        width: 100%; /* Adjust width as needed */
        z-index: 1000; /* Ensure it stays on top */
        background-color: white; /* Ensure it has a background */
    }

    .right-container {
        flex: 1; /* Take up the remaining space */
        height: 82dvh; /* Adjust height to 85vh equivalent in rem */
        width: 100dvw;
        margin-top: 18dvh; /* Adjust for the fixed left-container equivalent in rem */
        overflow-y: auto; /* Enable vertical scrolling if content overflows */
        scroll-snap-type: y mandatory; /* Enable scroll snapping */
    }

    .section-bg-1, .section-bg-2, .section-bg-3, .section-bg-4, .section-bg-5 {
        width: 100%; /* Adjust the width as needed */
        height: 82dvh; /* Adjust the height as needed equivalent in rem */
        margin: 0 auto; /* Center the section horizontally */
        padding: 20px; /* Add padding if needed */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }

    .section-header {
        /* Add styles if needed */
    }

    .section-bg-1::before {
        background-image: url('../images/AiPicture1.png');
        filter: blur(3px);
        height: 82dvh; /* Adjust the height as needed equivalent in rem */
    }

    .section-bg-2::before {
        background-image: url('../images/AiPicture2.png');
        filter: blur(3px);
        height: 82dvh; /* Adjust the height as needed equivalent in rem */
    }

    .section-bg-3::before {
        background-image: url('../images/AiPicture3.png');
        filter: blur(3px);
        height: 82dvh; /* Adjust the height as needed equivalent in rem */
    }

    .section-bg-4::before {
        background-image: url('../images/AiPicture4.png');
        filter: blur(3px);
        height: 82dvh; /* Adjust the height as needed equivalent in rem */
    }

    .section-bg-5::before {
        background-image: url('../images/AiPicture5.png');
        filter: blur(20px);
        height: 82dvh; /* Adjust the height as needed equivalent in rem */
    }

    .left-container a, .section {
        font-size: 1rem; /* Adjust font size for extra small devices */
    }

    .btnContainer {
        display: flex;
        flex-direction: row;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        padding: 0 !important; /* Override default padding */
        width: 100%; /* Ensure it takes full width */
    }

    .headShot {
        display: none; /* Hide image */
    }

    .custom-font-size {
        font-size: 14px; /* Adjust font size for extra small devices */
        padding: 0px 5px 0px 5px;
        text-decoration: underline; /* Add underline */
        color: gray; /* Change text color to gray */
    }

    .myName {
        font-size: 18px; /* Adjust font size for extra small devices */
    }

    .myTitle {
        font-size: 14px; /* Adjust font size for extra small devices */
    }

    .section-header {
        position: absolute;
        top: 10px; /* Adjust as needed */
        left: 50%;
        transform: translateX(-50%);
        color: black;
        text-align: center;
        font-size: 13px; /* Adjust the font size as needed */
    }

    .flex-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 120px;
        background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
        border: 2px solid #000; /* Optional border */
        margin: auto; /* Center the box */
        color: black;
        margin: 10px;
    }

    .flex-box .left-side {
        flex: 1;
        text-align: left;
        padding-left: 1px;
    }
  
    .flex-box .right-side {
        flex: 2;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .contentHeader {
        font-size: 16px;
    }
  
    .cardText {
        font-size: 8px;
    }

    #section5 {
        height: 82dvh; /* Adjust height to 85vh equivalent in rem */
    }
  
    #section5 .content {
        flex: 1; /* Take up remaining space */
        display: flex; /* Use Flexbox for alignment */
        flex-direction: column; /* Align items vertically */
        justify-content: center; /* Center items vertically */
        align-items: center; /* Center items horizontally */
        height: 82dvh; /* Adjust height to 85vh equivalent in rem */
    }
  
    #section5 .content p {
        font-size: 1rem; /* Smaller font size for smaller screens */
        max-width: 100%; /* Full width for smaller screens */
    }
  
    #section5 .svg-container {
        display: flex; /* Use Flexbox for horizontal alignment */
        justify-content: center; /* Center items horizontally */
        align-items: center; /* Center items vertically */
        width: 100%; /* Full width */
        padding: 10px; /* Reduce padding for smaller screens */
        position: absolute; /* Position at the bottom */
        bottom: 0; /* Align to the bottom */
    }
  
    #section5 .svg-container a {
        margin: 12px 10px; /* Reduce space between SVGs for smaller screens */
    }
  
    #section5 .svg-container a svg,
    #section5 .svg-container a img {
        width: 50px; /* Smaller width for SVGs on smaller screens */
        height: 50px; /* Smaller height for SVGs on smaller screens */
    }

    .checkitOut {
        font-size: 8px;
        color: black;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow */
    }
}

/**/

/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .section {
      height: 80vh;
  }

  .left-container {
      height: 20vh; /* Set height to 20% of viewport height */
  }

  .right-container {
      height: 80vh; /* Set height to 20% of viewport height */
      scroll-snap-type: y mandatory; /* Enable scroll snapping */
  }

  .left-container a, .section {
      font-size: 1.25rem; /* Adjust font size for small devices */
  }

  .btnContainer {
      display: flex;
      flex-direction: row;
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically */
      padding: 0 !important; /* Override default padding */
      width: 100%; /* Ensure it takes full width */
  }

  .headShot {
      display: none; /* Hide image */
  }

  .custom-font-size {
      font-size: 1rem; /* Adjust font size for small devices */
      padding: 0px 5px 0px 5px;
  }

  .myName {
      font-size: 28px; /* Adjust font size for small devices */
  }

  .myTitle {
      font-size: 22px; /* Adjust font size for small devices */
  }

  .section-header {
      position: absolute;
      top: 10px; /* Adjust as needed */
      left: 50%;
      transform: translateX(-50%);
      color: black;
      text-align: center;
      font-size: 13px; /* Adjust the font size as needed */
  }


  .flex-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 120px;
      background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
      border: 2px solid #000; /* Optional border */
      margin: auto; /* Center the box */
      color: black;
      margin: 10px;
  }

  .flex-box .left-side {
      flex: 1;
      text-align: left;
      padding-left: 1px;
  }
  
  .flex-box .right-side {
      flex: 2;
      text-align: center;
      display: flex;
      flex-direction: column;
  }

  .contentHeader{
      font-size: 16px;
  }
  
  .cardText{
      font-size: 8px;
  }

  .checkitOut {
      font-size: 8px;
      color: black;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow */
  }
}

/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .homeText {
      text-align: center;
      font-size: 28px;
      color: black;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow */
  }
  
  .left-container a, .section {
      font-size: 1.5rem; /* Adjust font size for medium devices */
  }

  .btnContainer {
      flex-direction: column;
      width: 100%; /* Ensure it takes full width */
  }

  .headShot {
      align-self: center;
      width: 200px !important;
      height: 200px !important;
  }

  .custom-font-size {
      font-size: 1.25rem; /* Adjust font size for medium devices */
  }

  .myName {
      font-size: 32px; /* Adjust font size for medium devices */
  }

  .myTitle {
      font-size: 26px; /* Adjust font size for medium devices */
  }


  .section-header {
      position: absolute;
      top: 10px; /* Adjust as needed */
      left: 50%;
      transform: translateX(-50%);
      color: black;
      text-align: center;
      font-size: 25px; /* Adjust the font size as needed */
  }


  .flex-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 325px;
      height: 155px;
      background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
      border: 2px solid #000; /* Optional border */
      margin: 10px; /* Center the box */
      color: black;
  }

  .flex-box .left-side {
      flex: 1;
      text-align: left;
      padding-left: 1px;
  }
  
  .flex-box .right-side {
      flex: 2;
      text-align: center;
      display: flex;
      flex-direction: column;
  }

  .contentHeader{
      font-size: 16px;
  }
  
  .cardText{
      font-size: 10px;
  }

  .checkitOut {
      font-size: 10px;
      color: black;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow */
  }
}

/* Large devices (large desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .homeText {
      text-align: center;
      font-size: 28px;
      color: black;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow */
  }
  
  .left-container a, .section {
      font-size: 1.5rem; /* Adjust font size for medium devices */
  }
  
  .left-container {
      display: flex; /* Use Flexbox */
      flex-direction: column; /* Align items vertically */
      align-content: center;
      align-items: center;
      justify-content: space-between; /* Distribute space between items */
      height: 100vh; /* Ensure it takes full height */
      padding: 20px; /* Add some padding */
  }

  .btnContainer {
      display: flex;
      flex-direction: column;
      width: 100%; /* Ensure it takes full width */
      margin-top: auto; /* Push the container to the bottom */
      padding-top: 20px; /* Add some padding at the top */
  }

  .headShot {
      align-self: center;
      width: 200px !important;
      height: 200px !important;
  }

  .custom-font-size {
      font-size: 1.25rem; /* Adjust font size for medium devices */
  }

  .myName {
      font-size: 32px; /* Adjust font size for medium devices */
  }

  .myTitle {
      font-size: 26px; /* Adjust font size for medium devices */
  }

  .section-header {
      position: absolute;
      top: 10px; /* Adjust as needed */
      left: 50%;
      transform: translateX(-50%);
      color: black;
      text-align: center;
      font-size: 25px; /* Adjust the font size as needed */
  }

  .flex-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 325px;
      height: 155px;
      background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
      border: 2px solid #000; /* Optional border */
      margin: 10px; /* Center the box */
      color: black;
  }

  .flex-box .left-side {
      flex: 1;
      text-align: left;
      padding-left: 1px;
  }
  
  .flex-box .right-side {
      flex: 2;
      text-align: center;
      display: flex;
      flex-direction: column;
  }

  .contentHeader {
      font-size: 16px;
  }
  
  .cardText {
      font-size: 10px;
  }

  .checkitOut {
      font-size: 10px;
      color: black;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow */
  }
}

/* Extra large devices (larger desktops, 1200px and up) */
@media (min-width: 1200px) {
  .left-container a, .section {
      font-size: 2rem; /* Adjust font size for extra large devices */
  }

  .btnContainer {
      flex-direction: column;
      padding-top: 100px !important; /* Override default padding */
  }

  .headShot {
      width: 350px !important;
      height: 350px !important; 
      border-radius: 50%;
      padding-bottom: 20px;
      object-fit: cover; /* Maintain aspect ratio */
      width: 100%; /* Ensure it takes full width */
  }

  .custom-font-size {
      font-size: 50px; /* Adjust font size for extra large devices */
  }

  .myName {
      font-size: 44px; /* Adjust font size for extra large devices */
  }

  .myTitle {
      font-size: 34px; /* Adjust font size for extra large devices */
  }
}